<md-dialog-actions fxLayoutAlign="end center">
  <button md-icon-button md-dialog-close>
    <md-icon>close</md-icon>
  </button>
</md-dialog-actions>

<md-dialog-content fxLayout="column" style="min-width: 600px;">
  <md-input-container>
    <input [(ngModel)]="project.name" mdInput fxFlex="auto" placeholder="Name" (keydown)="clearCheckProject()">
  </md-input-container>
</md-dialog-content>

<md-dialog-actions fxLayoutAlign="end center">
  <button md-raised-button (click)="checkExistingProjects();" [disabled]="!project.name">Create</button>
</md-dialog-actions>

<div *ngIf="checkProjectExist === true" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
  <md-icon style="color: #f44336;">warning</md-icon>
  <span style="color: #f44336; font-size: 14px;">
    A Project with this name already exist!
  </span>
</div>
