<div fxLayout="row">
  <md-card fxFlex>
    <md-card-title>Assigned Projects</md-card-title>
    <md-card-content>
      <md-list [hidden]="(getClientProjects() | async)?.length === 0">
        <md-list-item *ngFor="let project of getClientProjects() | async" (click)="removeProject(project)">
          <div class="i18n-rippled-list-item" md-ripple fxLayoutAlign="start center">
            {{ project.name }}
          </div>
          <md-icon>close</md-icon>
        </md-list-item>
      </md-list>

      <div [hidden]="(getClientProjects() | async)?.length > 0">
        User has no access to any projects!
      </div>
    </md-card-content>
  </md-card>

  <md-card fxFlex style="margin-left: 16px;">
    <md-card-title>Available Projects</md-card-title>
    <md-card-content>
      <md-list>
        <md-list-item *ngFor="let project of getAvailableProjects() | async" (click)="addProject(project)">
          <div class="i18n-rippled-list-item" md-ripple fxLayoutAlign="start center">
            {{ project.name }}
          </div>
          <md-icon>add</md-icon>
        </md-list-item>
      </md-list>

      <div [hidden]="(getAvailableProjects() | async)?.length > 0">
        There are no available projects!
      </div>
    </md-card-content>
  </md-card>
</div>
