<div style="overflow: hidden;">
  <div fxLayout="row" fxLayoutAlign="start center" style="padding: 16px;">
    <button md-icon-button style="min-width: 20px;" [disabled]="true">
      <md-icon>find_in_page</md-icon>
    </button>

    <md-input-container>
      <input mdInput placeholder="Search Term" [(ngModel)]="needle">
    </md-input-container>
  </div>

  <md-card *ngFor="let property of getRefProperties() | paginate: { itemsPerPage: 20, currentPage: currentPage }; let i = index;" style="margin: 8px;">
    <md-card-title>
      {{ property.key }}
    </md-card-title>

    <md-card-content>
      <md-input-container fxFlex>
        <textarea mdInput [(ngModel)]="property.value" placeholder="Translation Referenc" rows="2" disabled></textarea>
      </md-input-container>

      <md-input-container fxFlex *ngIf="list[currentPage-1+i]">
        <textarea mdInput [(ngModel)]="list[currentPage-1+i].value" placeholder="Translation" rows="2" (change)="save(list[currentPage-1+i])"></textarea>
      </md-input-container>
    </md-card-content>
  </md-card>

  <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
</div>
