<div style="overflow: hidden;">
  <div fxLayout="row" fxLayoutAlign="start center" style="padding: 16px;">
    <button md-icon-button style="min-width: 20px;" [disabled]="true">
      <md-icon>find_in_page</md-icon>
    </button>

    <md-input-container>
      <input mdInput placeholder="Translation key" [(ngModel)]="needle">
    </md-input-container>

    <md-slide-toggle style="margin-left: 14px;" [(ngModel)]="toggleFilter">
      Show ONLY non-translated Translations
    </md-slide-toggle>
  </div>

  <md-card *ngFor="let property of getFilteredProperties() | paginate: { itemsPerPage: 20, currentPage: currentPage }; let i = index;" style="margin: 8px;">
    <div fxLayout="row" fxLayoutAlign="start center" style="padding-top: 5px 0;">
      <div style="min-width: 140px; color: rgba(0, 0, 0, 0.38); font-size: 11px;">Translation key:</div>
      <div>{{ property.key }}</div>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center" style="padding-top: 5px;">
      <div style="min-width: 140px; color: rgba(0, 0, 0, 0.38); font-size: 11px;">Translation reference:</div>
      <div>{{ property.value }}</div>
    </div>

    <md-card-content fxLayout="column" style="margin-top: 8px;">
      <md-input-container fxFlex *ngIf="property.target">
        <textarea mdInput
          [(ngModel)]="property.target.value"
          placeholder="Translation"
          rows="2"
          (keydown)="property.status = 'edit'"
          (change)="save(property.target); property.status = 'loading'"
          [disabled]="property.target.status === 'loading'">
        </textarea>
      </md-input-container>

      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
        <button md-raised-button
          [disabled]="property.target.status === 'loading'"
          (click)="save(property.target); property.status = 'loading'"
          style="margin-right: 12px;">
          SAVE
        </button>
        <md-icon *ngIf="property?.status === 'saved'">save</md-icon>
        <p *ngIf="property?.status === 'saved'">currently saved</p>
        <md-icon *ngIf="property?.status === 'edit'">mode_edit</md-icon>
        <p *ngIf="property?.status === 'edit'">editing</p>
        <md-progress-spinner class="progress" *ngIf="property?.target.status === 'loading'" mode="indeterminate"></md-progress-spinner>
        <md-icon class="error" *ngIf="property?.target.status === 'failed'">report</md-icon>
        <p class="error" *ngIf="property?.target.status === 'failed'">failed to save in Backend</p>
      </div>

    </md-card-content>
  </md-card>

  <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
</div>
