<div>
  <div class="i18n-project" *ngFor="let project of projects" style="margin: 12px;" routerLink="/project/details/{{ project.filename }}">
    <md-card class="project-card" md-ripple>
      <md-card-title>{{ project.name }}</md-card-title>

      <md-chip-list>
        <md-chip *ngFor="let translation of project.translations" selectable="false">
          {{ translation.lang }}
        </md-chip>
      </md-chip-list>
    </md-card>
  </div>
</div>

<div fxLayoutAlign="end center" style="margin-right: 42px;">
  <button md-fab (click)="openCreateDialog()">
    <md-icon>create_new_folder</md-icon>
  </button>
</div>
