.clear {
    clear: both;
}

*:focus {
  outline: none;
}

.i18n-toolbar {
  background: #1976D2;
  height: 56px;
  min-height: 56px;
  padding: 0;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.24);

  h1 {
    
    a.logo {
      background-image: url("../assets/images/n4group_logo_small.png");
      background-repeat: no-repeat;
      border-radius: 0;
      overflow: hidden;
      text-indent: -3000px;
      margin: 0;
      padding: 0;
      color: transparent;
      min-width: 50px;
      min-height: 50px;
      display: block;
      margin-left: 40px;
      background-size: contain;
    }
  }

  ul {
    list-style: none;
    margin: 0px;

    li {
      float: left;

      a {
        line-height: 56px;
        display: inline-block;
        color: #fff;
        text-decoration: none;
        padding: 0 16px;
        text-transform: uppercase;
        font-family: "Roboto","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
        font-weight: 400;
        font-size: 16px;
        border: none;
        background: none;
        border-radius: 0;
        position: relative;
        letter-spacing: 0.16px;
        margin: 0;
        min-width: auto;
        -webkit-transition: all .3s;
        transition: all .3s;
      }

      a:hover {
        background-color: #1E88E5;
      }
    }
  }
}
