<div style="height: 100%;">
  <app-auth [hidden]="loggedIn()"></app-auth>

  <div [hidden]="!loggedIn()">
    <nav class="i18n-toolbar">
      <ul>
        <li *ngIf="isAdmin()">
          <a md-ripple mdRippleColor="rgba(255, 255, 255, 0.1)" routerLink="/user" routerLinkActive="active">User</a>
        </li>
        <li>
          <a md-ripple mdRippleColor="rgba(255, 255, 255, 0.1)" routerLink="/projects" routerLinkActive="active">Projects</a>
        </li>
      </ul>

      <div fxFlex fxLayoutAlign="end center">
        <button md-icon-button (click)="logout()" style="margin-right: 12px;">
          <md-icon style="color: #fff;">power_settings_new</md-icon>
        </button>
      </div>
    </nav>

    <div class="clear"></div>

    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
