<md-card style="max-width: 400px; margin: auto;">
  <md-card-content>
    <form #loginForm="ngForm" (ngSubmit)="login()" fxLayout="column">
      <md-input-container fxFlex style="margin: 16px;">
        <input type="text"
          mdInput
          name="email"
          [(ngModel)]="credentials.email"
          #email="ngModel"
          placeholder="Email"
          autocomplete="off"
          email
          required>

        <md-hint *ngIf="email.dirty || email.touched" [hidden]="email.pristine || email.valid" style="color: #f44336">
          <span [hidden]="email.errors?.required || !email.errors?.email">This doesn't appear to be a valid email address.</span>
          <span [hidden]="!email.errors?.required">Email is required.</span>
        </md-hint>
      </md-input-container>

      <md-input-container fxFlex style="margin: 16px;">
        <input type="password"
          mdInput
          name="password"
          [(ngModel)]="credentials.password"
          #password="ngModel"
          placeholder="Password"
          autocomplete="off"
          required>

        <md-hint *ngIf="password.dirty || password.touched" [hidden]="password.pristine || password.valid" style="color: #f44336">
          <span [hidden]="!password.errors?.required">Password is required.</span>
        </md-hint>
      </md-input-container>

      <md-hint style="color: #f44336">
        {{ showUnauthorizedMessage }}
      </md-hint>

      <!-- <pre>{{ loginForm.form | json }}</pre> -->
      <button md-raised-button type="submit" style="margin: 16px;" [disabled]="!loginForm.form.valid">Login</button>
    </form>

    <!-- <pre>{{ loggedIn() }}</pre>

    <button md-raised-button (click)="getLoggedInFromBackend()">Authenticated?</button>
    <button md-raised-button (click)="logout()">logout</button> -->
  </md-card-content>
</md-card>
