<!-- <pre>isAdmin: {{ isAdmin() | json }}</pre> -->
<!-- <pre>user: {{ getUser() | json }}</pre> -->
<!-- <pre>users: {{ getUsers() | json }}</pre> -->
<!-- <pre>users$: {{ user.users$ | async | json }}</pre> -->

<md-card *ngFor="let client of getUsers()" style="margin: 8px;">
  <md-card-title>{{ client.email }}</md-card-title>

  <!-- <md-card-subtitle>
    {{ client.meta.created | date['shortDate'] }}
  </md-card-subtitle> -->

  <md-card-content>
    <md-slide-toggle [(ngModel)]="client.admin" [disabled]="getUser().email === client.email" [checked]="client.admin" (change)="setAdmin(client, $event)">
      <div fxLayout="row" fxLayoutAlign="start center">
        <span>Supervisor</span>
        <md-icon style="margin-left: 12px;">supervisor_account</md-icon>
      </div>
    </md-slide-toggle>

    <div style="padding: 16px 0;" *ngIf="!client.admin && getUser().email !== client.email">
      <md-card-subtitle>
        Access to projects:
      </md-card-subtitle>
      <app-user-projects [client]="client"></app-user-projects>
    </div>

    <!-- <pre>{{ client | json }}</pre> -->
  </md-card-content>
</md-card>

<div fxLayoutAlign="end center" style="margin-right: 42px;">
  <button md-fab (click)="openCreateDialog()">
    <md-icon>add</md-icon>
  </button>
</div>
