<div style="padding: 16px;">
  <pre style="margin: 0px;">{{ project | json }}</pre>
</div>

<div *ngIf="project" style="padding: 16px;">
  {{ project.name }}
</div>

<div fxLayout="row" fxLayoutAlign="start center">
  <md-chip-list *ngIf="project">
    <md-chip *ngFor="let translation of project.translations"
      (click)="selectTranslation(translation)"
      style="margin: 4px;"
      selected="{{ isSelectTranslation(translation) }}">
        {{ translation.originalname }}
    </md-chip>
  </md-chip-list>

  <button md-mini-fab (click)="null" style="margin: 4px;">
    <md-icon>add</md-icon>
  </button>
</div>

<div>
  <input #upload style="display: none;" type="file" (change)="onChange($event)"/>

  <button md-raised-button (click)="upload.click()">
    Import <md-icon>file_upload</md-icon>
  </button>

  <button md-raised-button (click)="saveContent()">
    Save <md-icon>save</md-icon>
  </button>

  <a #exportTarget style="display:none"></a>

  <button md-raised-button (click)="export(exportTarget)">
    Export <md-icon>file_download</md-icon>
  </button>
</div>

<!-- <pre style="margin: 0px;">{{ content | json }}</pre> -->

<i18n-project-translation [content]="content"></i18n-project-translation>
