<md-card *ngIf="project" style="margin: 12px;">
  <md-card-title fxLayout="row" fxLayoutAlign="start center">
    <md-icon style="margin-right: 12px;">folder</md-icon> {{ project.name }}
  </md-card-title>

  <md-card-content>
    <div fxLayout="row">
      <div style="margin-top: 16px;" *ngIf="user.isAdmin()">
        <md-select placeholder="Reference language"
          [(ngModel)]="project.reflang"
          name="reflang"
          (change)="updateRefLang($event)"
          disabled="{{ getLangs()['length'] === 0 }}">
            <md-option *ngFor="let translationLang of getLangs()" [value]="translationLang">
              {{ translationLang }}
            </md-option>
        </md-select>
      </div>

      <!-- <md-card-subtitle>Target language</md-card-subtitle> -->
      <div fxFlex style="margin-left: 32px;" fxLayout="row" fxLayoutAlign="start center">
        <div fxLayout="row" fxLayoutAlign="start center">
          <md-chip-list *ngIf="project">
            <md-chip *ngFor="let translation of project.translations"
              (click)="selectTranslation(translation)"
              style="margin: 4px;"
              selected="{{ isSelectTranslation(translation) }}">
                {{ translation.lang }}
            </md-chip>
          </md-chip-list>
        </div>

        <div fxLayout="row" fxLayoutAlign="start center" style="margin-top: 12px; margin-left: 12px;" *ngIf="user.isAdmin()">
          <md-input-container style="margin-right: 12px;">
            <input mdInput [(ngModel)]="lang" placeholder="New target language">
          </md-input-container>

          <input #upload style="display: none;" type="file" (change)="onChange($event)"/>

          <div fxLayout="row" fxLayoutAlign="start center">
            <button md-raised-button md-icon-button (click)="upload.click()" style="margin-right: 12px;" mdTooltip="Import" disabled="{{ invalidLang() }}">
              <md-icon>file_upload</md-icon>
            </button>

            <button md-raised-button md-icon-button (click)="appendTranslationToProject()" style="margin-right: 12px;" mdTooltip="Create" disabled="{{ invalidLang() }}">
              <md-icon>add</md-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </md-card-content>
</md-card>

<md-card style="margin: 12px;" *ngIf="selectedTranslation">
  <div fxLayout="row" fxLayoutAlign="start center">
    <md-card-title fxLayout="row" fxLayoutAlign="start center">
      Translation into {{ selectedTranslation.lang }}
    </md-card-title>

    <!-- <button md-button (click)="saveContent()">
      Save <md-icon>save</md-icon>
    </button> -->

    <a #exportTarget style="display:none"></a>

    <button md-raised-button (click)="export(exportTarget)" style="margin-left: 32px;" *ngIf="user.isAdmin()">
      Export <md-icon>file_download</md-icon>
    </button>

    <button md-raised-button (click)="openDeleteTranslationConfirmDialog()" style="margin-left: 32px;" *ngIf="user.isAdmin()">
      Remove translation <md-icon>delete</md-icon>
    </button>
  </div>

  <md-card-content>
    <i18n-project-translation [hidden]="!content" [content]="content" [translation]="selectedTranslation"></i18n-project-translation>
  </md-card-content>
</md-card>
